<nav class="navbar navbar-expand-lg border-bottom border-bottom-dark" data-bs-theme="dark" style="background-color: #6c1048;">
  <div class="container-fluid">
    <a href="#" class="navbar-brand h1"><img src="../../assets/logoAngular.png" style="max-width: 125px;"></a>
    
    <app-main-searchbar></app-main-searchbar>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-4 fw-bold">
        <li class="nav-item"><a routerLink="bycategory" class="nav-link">Przeglądaj drinki</a></li>
        <li class="nav-item"><a routerLink="mixer" class="nav-link">Co masz w barku?</a></li>
      </ul>

      
      
      <ul class="navbar-nav fs-4 fw-bold" >
        <li class="nav-item"><a  class="nav-link" appAddonWeather><i class="fa-solid fa-cloud-sun"></i></a></li>
        <li class="nav-item"><a  class="nav-link" appAddonShopping><i class="fa-solid fa-cart-shopping"></i></a></li>
        <app-user-dropdown></app-user-dropdown>
      </ul>
    </div>
  </div>
</nav>
