<nav class="navbar navbar-expand-lg border-bottom border-bottom-dark" data-bs-theme="dark" style="background-color: #6c1048;">
  <div class="container-fluid">
    <a href="#" class="navbar-brand h1"><img src="../../assets/logoAngular.png" style="max-width: 125px;"></a>
    
    <form class="d-flex" role="search">
      <div class="input-group">
        <input class="form-control rounded" type="search" style="min-width: 350px;" placeholder="Wpisz nazwę lub któryś ze składników" aria-label="Search" aria-describedby="search-addon">
        <button class="btn btn-outline-warning" type="submit">Szukaj</button>
      </div>
    </form>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-4 fw-bold">
        <li class="nav-item"><a href="#" class="nav-link">Przeglądaj drinki</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Co masz w barku?</a></li>
      </ul>

      
      
      <ul class="navbar-nav fs-4 fw-bold" >
        <li class="nav-item"><a href="#" class="nav-link" appAddonWeather><i class="fa-solid fa-cloud-sun"></i></a></li>
        <li class="nav-item"><a href="#" class="nav-link" appAddonShopping><i class="fa-solid fa-cart-shopping"></i></a></li>
        <a class="nav-link dropdown-toggle fs-4 fw-bold" role="button" data-bs-toggle="dropdown" aria-expanded="true">
          Zaloguj się
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><app-authorization></app-authorization></li>
          <div class="dropdown-divider"></div>
          <li><a class="dropdown-item" href="#">Nowy? Zarejestruj się!</a></li>
          <li><a class="dropdown-item" href="#">Zapomniałeś hasła?</a></li>
      </ul>
      </ul>
    </div>
  </div>
</nav>
