@using DrinkItUpWebApp.Models
@using Microsoft.AspNetCore.Components.Web
@model IngredientsSearchModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script>
	$(document).ready(function () {
		$("#searchByIngredients").keyup(function () {
			$.ajax({
				type: "POST",
				url: '@Url.Action("AutoCompleteIngredients", "Drink")',
				data: { Prefix: $(this).val() },
				dataType: "json",
				success: function (data) {
					$("#autoCompleteAnswers").html('');
					$("#autoCompleteAnswers").show();
					$(data).toArray().forEach((element) => {
						var inner_html = '<div class="btn btn-warning mx-1 my-1">+' + element + '</div>';
						$("#autoCompleteAnswers").append(inner_html);

					});
					
				}
			});
		});
	});
</script>
<div class="row w-100 h-100">
	<div class="container-fluid col-md-6 col-lg-6 pinkborda-r">
		<div class="d-flex justify-content-center p-2">
			<p class="display-6 fw-bolder">Co masz w barku!?</p>
		</div>
		<div class="pinkborda my-2">
			<input id="searchByIngredients" type="text" class="form-control" placeholder="Wpisuj składniki i dodawaj podpowiedzi...">
		</div>
		<div id="autoCompleteAnswers" class="ingredientListSearch">
 

		</div>
		<div>
			<p class="lead">...lub wybierz z listy!</p>
		</div>
		<div class="bg-white h-50 rounded-2 ingredientList">
			@await Component.InvokeAsync("ListOfIngredients", new {ingredientsNames = Model.IngredientsNames, ingredientsToSearch = Model.IngredientsToSearch })

		</div>
	</div>
	<div class="container-fluid col-md-6 col-lg-6 pinkborda-l">
		<div class="row">
			<div class="col-12">
				<p class="display-6 fw-bolder p-2">Z tego miksujemy:</p>
			</div>
			<div class="col-12 my-2 mx-2 container-fluid justify-content-center h-50 pinkborda ingredientList">
				@await Component.InvokeAsync("ListOfIngredientsToSearch", new {ingredientsNames = Model.IngredientsNames, ingredientsToSearch = Model.IngredientsToSearch })
			</div>
			<div class="col-12">
				<button class="col-12 btn btn-lg btn-warning fw-bolder ">Szukaj po tym co masz w barku!</button>
			</div>
		</div>
	</div>
</div>
