@model IEnumerable<DrinkItUpWebApp.Models.DrinkSearchModel>

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12">
            <p class="display-6 fw-bolder">Znalezione drinki:</p>
        </div>
    @foreach(var item in Model)
    {
    <a class="col-3">
    <div class="card bg-dark my-1">
        <img src="~/img/sampledrink.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <p class="card-text text-truncate">@item.Description</p>
        </div>
    </div>
    </a>
    }
        <a class="btn btn-lg btn-warning fw-bolder col-12 my-2" onclick="history.back()">Powrót</a>
    </div>
</div>