@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container justify-content-center">
<h1 class="lead">Tu będzie Uber wyszukiwarka po składnikach w lodówce!</h1>
<img src="~/img/fridge.png" class="foto" />
<h2 class="lead">Stay tuned!</h2>
</div>