@using DrinkItUpWebApp.Models
@using Microsoft.AspNetCore.Components.Web
@model IngredientsSearchModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script>
	$(document).ready(function () {
		$("#searchByIngredients").keyup(function () {
			$.ajax({
				type: "POST",
				url: '@Url.Action("AutoComplete", "Drink")',
				data: { Prefix: $(this).val() },
				dataType: "json",
				success: function (data) {
					$("#autoCompleteAnswers").html('');
					$("#autoCompleteAnswers").show();
					$(data).toArray().forEach((element) => {
						var inner_html = '<div class="btn btn-warning mx-1 my-1">+' + element + '</div>';
						$("#autoCompleteAnswers").append(inner_html);

					});
					
				}
			});
		});
	});
</script>
<div class="row w-100  h-100">
	<div class="container-fluid col-lg-6 pinkborda-r">
		<div class="d-flex justify-content-center p-2">
			<p class="display-6 fw-bolder">Co masz w barku!?</p>
		</div>
		<div class="pinkborda my-2">
			<input id="searchByIngredients" type="text" class="form-control" placeholder="Wpisuj składniki i dodawaj podpowiedzi...">
		</div>
		<div id="autoCompleteAnswers" class="h-25">
 

		</div>
		<div>
			<p class="lead">...lub wybierz z listy!</p>
		</div>
		<div class="bg-white h-50 rounded-2 ingredientList">
			@await Component.InvokeAsync("ListOfIngredients", new {ingredientsNames = Model.IngredientsNames, ingredientsToSearch = Model.IngredientsToSearch })

		</div>
	</div>
	<div class="container-fluid d-flex h-100 w-50 col-lg-6 pinkborda-l">
		<div>
			<p class="lead fw-bolder">Z tego miksujemy!</p>
		</div>
		<div class="container justify-content-center h-50">
			@if(Model.IngredientsToSearch != null)
			{
				foreach (var ingredient in Model.IngredientsToSearch)
				{
					<div class="btn btn-warning fw-bolder">- @ingredient</div>
				}
			}
			else
			{
				<p class="lead fw-bold">Nie dodałeś jeszcze żadnego składnika</p>
			}
		</div>
			<div class="btn btn-lg btn-warning">Szukaj po tym co masz w barku!</div>
		
	</div>
</div>
