@using DrinkItUpWebApp.Models
@model DrinkWithDetailsModel

<div class="d-flex">
    <div>
        <img src="~/img/sampledrink.png" class="foto" />
    </div>

    <div class="d-inline-block">


    </div>

</div>