.mainBody{
    background-color: #6c1048;
    border: 1px;
    border-color: darkmagenta;
    border-style:double;
    min-height: 750px;
}
.secondBody{
    background-color: #6c1048;
    border: 1px;
    border-color: darkmagenta;
    border-style:double;
    min-height: 100px;
}
.ingredientListSearch {
    min-height: 100px;
    max-height: 300px;
    overflow: hidden auto;
}
.ingredientList {
    min-height: 100px;
    max-height: 300px;
    overflow: hidden auto;
}
.cardSearch {
    text-decoration: none;
    color: white;
    background-color: black;
}

    .cardSearch:hover {
        background-color: darkkhaki;
        color: black;
    }
    .panel-header
    {
    
        align-items:center;
        text-decoration:none;
        color: white;
    }
    .panel-header-active {
        height: inherit;
        text-decoration: none;
        color: black;
        background-color: yellow;
    }
    .panel-header:hover
    {
        height:inherit;
        color:black;
        background-color:yellow;
    }
    .stopka{
        background-color:rgba(0,0,0,0.6);
    }