<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 mainBody rounded">
            <div class="d-block ">
                <div class="d-flex justify-content-center p-2">
                    <p class="display-6 fw-bold">Co masz w barku!?</p>
                </div>
                <div class="pinkborda my-2">
                    <input id="searchByIngredients" [(ngModel)]="input" (ngModelChange)="onKeyUp(input)" name="ingredientSearch" type="text" class="form-control" placeholder="Wpisuj składniki i dodawaj podpowiedzi...">
                </div>
                <div id="autoCompleteAnswers" class="ingredientListSearch">
                    <div class="btn btn-warning mx-1 my-1" (click)="addIngredient(ingredientName)" *ngFor="let ingredientName of ingredientNames">
                        <span class="fw-bold">+</span> {{ingredientName}}
                    </div>
        
                </div>
                <div>
                    <p class="lead">...lub wybierz z listy!</p>
                </div>
                <div class="bg-white rounded-2 ingredientList">
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr class="justify-content-center">
                                <th class="" >
                                    <label>Nazwa składnika</label>
                                </th>
                                <th class="ingredients-th">
                                    <label>Masz w barku?</label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ingredient of allIngredientsNames">
                                <td class="">
                                    <p class="lead">{{ingredient}}</p>
                                </td>
                                <td class="ingredients-td">
                                    <a class="btn btn-warning" (click)="addIngredient(ingredient)"
                                    ><span class="fw-bold">+</span>Dodaj</a>
                                </td>
                            </tr>
                        
                    </tbody>
                </table>
        
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="secondBody rounded my-1">
                <div class="d-block p-2 pinkborda-l text-center">

                    <div class="">
                        <p class="display-6 fw-bolder p-2">Z tego miksujemy:</p>
                    </div>
                    <div class="my-2  container-fluid justify-content-center pinkborda ingredientList">
                        <p *ngIf="chosenIngredientsNames.length === 0" class="lead fw-bold">Nie dodałeś jeszcze żadnego składnika...</p>
                        <a class="btn btn-warning lead mx-1 my-1" *ngFor="let ingredientName of chosenIngredientsNames" (click)="removeIngredient(ingredientName)"><span class="fw-bold">-</span>{{ingredientName}}</a>
                    </div>
                    <hr>
                        <a class=" btn btn-lg btn-warning fw-bold" (click)="searchByIngredients()"
                                
                        >Szukaj po tym co masz w barku!</a>
            </div>
            </div>
            <div class="d-block text-center secondBody rounded my-1">
                <p class="lead fs-3 fw-bold">Wyniki:</p>
                <hr>
                <div class="h-100 d-block mx-1 p-1 text-center">
                    
                        <div class="d-flex my-1 border-bottom-4 border-warning justify-content-center" *ngIf="results.size === 0">
                            <p class="display-7 fw-bold ">Nie rozpocząłeś jeszcze swoich poszukiwań!</p>
                        </div>
                    
                            <div *ngFor="let recipient of results | keyvalue">
                                <div class="d-flex my-2 border-bottom border-warning " >
                                    <p class="display-6 fw-bolder">{{recipient.key}}</p>
                                </div>
                            
                                <a class="text-decoration-none lead " [routerLink]="'../detail/'+drink.drinkId" href="#" *ngFor="let drink of recipient.value">
                                    <div class="my-2 pinkborda cardSearch d-flex justify-content-center align-items-center" style="height: 160px;">
                                        <div class="row d-flex justify-content-center align-items-center" style="width: inherit;height:inherit;">
                                            <div class="col-2">
                                                <img [src]="'../../../assets/'+drink.drinkPhotoId" class="" style="max-height: 150px;" alt="...">
                                            </div>
                
                                            <p class="col-2 fs-4 fw-bold">{{drink.name}}</p>
                
                                            <div class="d-inline-block col-3">
                                                <p>Alkohol dominujący: {{drink.mainAlcohol.name}}</p>
                                                <p>Poziom trudności: {{drink.difficulty.name}}</p>
                                            </div>
                
                                            <div class="col-5">
                                                <span class="fw-bold">Opis przygotowania:</span>
                                                <p>{{drink.description.slice(0,100)}} ...</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>