<div class="container-fluid mainBody rounded fs-3 text-center my-1 align-items-center">
    <div class="row my-2">
        <div class="col-12 mt-2 ">
            <p class="fs-1 fw-bold">Na naszej stronie:</p>
        </div>
        <div class="col-4 fs-1 fw-bold pinkborda-r">
            <p>Zarejestrowało się już:</p>
            <p>4 Użytkowników</p>
        </div>
        <div class="col-4 fs-1 fw-bold pinkborda-r">
            <p>Dodano już:</p>
            <p>16 przepisów na drinki</p>
        </div>
        <div class="col-4 fs-1 fw-bold">
            <p>Dodano już:</p>
            <p>45 składników do drinków</p>
        </div>
    </div>
</div>