@model DrinkItUpWebApp.Models.IngredientModel

<div class="row" style="width: inherit;">
    <div class="d-block">
        <div class="col-12 d-flex stopka my-1 justify-content-center">
            <p class="display-6 fw-bolder">Panel Administracyjny</p>
        </div>
        <div class="col-12 d-flex lead fw-bold stopka text-center align-items-center my-2 " style="height:60px">

            <a class="col-2 panel-header">Drinki</a>
            <a class="col-3 panel-header" asp-controller="MainAlcohol" asp-action="Index">Główne Alkohole</a>
            <a class="col-3 panel-header" asp-controller="Difficulty" asp-action="Index">Poziomy Trudności</a>
            <a class="col-2 panel-header-active">Składniki</a>
            <a class="col-2 panel-header">Jednostki</a>

        </div>
        <div class="col-12">
            <div class="d-flex stopka my-2 p-2 mx-1">
                <div class="d-block col-8">
                    <table class="table table-dark table-md table-striped pinkborda lead">
                        <thead class="lead">
                            <tr>
                                <th scope="col">
                                    Nazwa
                                </th>
                                <th scope="col">
                                    Jednostka
                                </th>
                                <th scope="col">
                                    Czy używany?
                                </th>
                                <th scope="col">Akcje</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.IngredientsWithUnits)
                            {
                                <tr>
                                    <th scope="row" class="lead">
                                        @item.Name
                                    </th>
                                    <td>
                                        @item.Unit.Name
                                    </td>
                                    <td>
                                        @if (item.IsUsed)
                                        {
                                            <span>Tak</span>
                                        }
                                        else
                                        {
                                            <span>Nie</span>
                                        }
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-warning lead" asp-controller="Ingredient" asp-action="Edit" asp-route-id="@item.IngredientId">Edytuj</a> |
                                        <a class="btn btn-sm btn-warning lead" asp-action="Delete" asp-route-id="@item.IngredientId">Usuń</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="col-4 d-flex stopka p-1">
                    <partial name="_EditForm" , model="Model">
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}