<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DrinkItUpWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DrinkItUpWebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" /> <!-- https://fonts.google.com/ -->
</head>
<body>
    <div class="tm-container">
        <div class="tm-row">
            <!-- Site Header -->
            <div class="tm-left">
                <div class="tm-left-inner">
                    <div class="tm-site-header">
                        <i class="fas fa-coffee fa-3x tm-site-logo"></i>
                        <h1 class="tm-site-name">Wave Cafe</h1>
                    </div>
                    <nav class="tm-site-nav">
                        <ul class="tm-site-nav-ul">
                            <li class="tm-page-nav-item">
                                <a href="#drink" class="tm-page-link active">
                                    <i class="fas fa-mug-hot tm-page-link-icon"></i>
                                    <span>Drink Menu</span>
                                </a>
                            </li>
                            <li class="tm-page-nav-item">
                                <a href="#about" class="tm-page-link">
                                    <i class="fas fa-users tm-page-link-icon"></i>
                                    <span>About Us</span>
                                </a>
                            </li>
                            <li class="tm-page-nav-item">
                                <a href="#special" class="tm-page-link">
                                    <i class="fas fa-glass-martini tm-page-link-icon"></i>
                                    <span>Special Items</span>
                                </a>
                            </li>
                            <li class="tm-page-nav-item">
                                <a href="#contact" class="tm-page-link">
                                    <i class="fas fa-comments tm-page-link-icon"></i>
                                    <span>Contact</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="tm-right">
                <main class="tm-main" role="main" class="pb-3">                   
                        @RenderBody()
                </main>
            </div>
        </div>
        <footer class="tm-site-footer">
            <p class="tm-black-bg tm-footer-text">
                Copyright 2020 Wave Cafe

                | Design: <a href="https://www.tooplate.com" class="tm-footer-link" rel="sponsored" target="_parent">Tooplate</a>
            </p>
        </footer>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
