@{
    ViewData["Title"] = "Twórcy";
}

<div class="d-block about mb-2">
    <img src="~/img/itLogo.png" class="mx-auto d-block h-50">
    <p class="lead text-center">
        Witaj na DrinkItUp.pl
        Serwis jest tworzony w ramach projektu na kurs w infoShare Academy, przez czwórkę
        niebywale przystojnych i mądrych chłopaków! Oto oni:
    </p>
    <div class="d-flex text-center justify-content-center">
        <div class="card stopka text-white pinkborda mx-1">
            <img src="~/img/jaro.png" class="card-img-top " style="max-width:280px;">
            <div class="card-body justify-content-center">
                <h5 class="card-title fw-bolder">Jarosław Pela</h5>
                <a href="https://www.linkedin.com/in/jaroslaw-pela/" target="_blank"><i class="cardSearch fa-brands fa-linkedin nav-icon"></i></a>
                <a href="https://github.com/jaroslaw-pela" target="_blank"><i class="cardSearch fa-brands fa-github nav-icon"></i></a>
            </div>
        </div>
        <div class="card stopka text-white pinkborda mx-1">
            <img src="~/img/kuki.jpg" class="card-img-top" style="max-width:280px;">
            <div class="card-body justify-content-center">
                <h5 class="card-title fw-bolder">Łukasz Ostrowski</h5>
                <a href="https://www.linkedin.com/in/%C5%82ukasz-ostrowski-9757a2159/" target="_blank"><i class="cardSearch fa-brands fa-linkedin nav-icon"></i></a>
                <a href="https://github.com/LukaszOst" target="_blank"> <i class="cardSearch fa-brands fa-github nav-icon"></i></a>
            </div>
        </div>
        <div class="card stopka text-white pinkborda mx-1">
            <img src="~/img/majki.jpg" class="card-img-top" style="max-width:280px;">
            <div class="card-body justify-content-center">
                <h5 class="card-title fw-bolder">Michał Krężlewicz</h5>
                <a href="https://www.linkedin.com/in/krezlewicz/" target="_blank"><i class="cardSearch fa-brands fa-linkedin nav-icon"></i></a>
                <a href="https://github.com/MichalKrezlewicz" target="_blank"> <i class="cardSearch fa-brands fa-github nav-icon"></i></a>
            </div>
        </div>
        <div class="card stopka text-white pinkborda mx-1">
            <img src="~/img/uli.jpg" class="card-img-top" style="max-width:280px;">
            <div class="card-body justify-content-center">
                <h5 class="card-title fw-bolder">Michał Uliszak</h5>
                <a href="https://www.linkedin.com/in/michal-uliszak/" target="_blank"><i class="cardSearch fa-brands fa-linkedin nav-icon"></i></a>
                <a href="https://github.com/kUcLis" target="_blank"> <i class="cardSearch fa-brands fa-github nav-icon"></i></a>
            </div>
        </div>
    </div>
</div>

