@{
    ViewData["Title"] = "Twórcy";
}

<div class="text-center">
    <img src="~/img/itLogo.png" class="mx-auto d-block h-25">
    <p class="lead text-center">
        Witaj na DrinkItUp.pl
        Serwis jest tworzony w ramach projektu na kurs w infoShare Academy, przez czwórkę
        niebywale przystojnych i mądrych chłopaków! Oto oni:
    </p>

    <img src="~/img/jaro.png" class="autor col-md-6 col-lg-3">Jaro!
    <img src="~/img/kuki.jpg" class="autor col-md-6 col-lg-3">Kuki!
    <img src="~/img/majki.jpg" class="autor col-md-6 col-lg-3">Majki!
    <img src="~/img/uli.jpg" class="autor col-md-6 col-lg-3 ">Uli!
</div>
