@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p class="lead fw-bolder">Główne Alkohole</p>
<a asp-action="AddMainAlcohol" class="btn btn-warning"> Dodaj Główny Alkohol!</a>

<p class="lead fw-bolder">Składniki</p>


<p class="lead fw-bolder">Jednostki</p>
<a asp-action="AddUnit" class="btn btn-warning"> Dodaj Jednostkę!</a>