@model IEnumerable<DrinkItUpWebApp.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Będzie widok logowania</h1>
<a asp-controller="Ingredient" asp-action="Index" class="btn btn-warning">Zaloguj się</a>

