<div class="row">
    <div class="d-inline-block">
        <div class="col-12 d-flex stopka my-1 justify-content-center">
            <p class="display-6 fw-bolder">Panel Administracyjny</p>
        </div>
        <div class="col-12 d-flex lead fw-bold stopka text-center align-items-center my-2 " style="height:60px">

            <a class="col-2 panel-header-active">Drinki</a>
            <a class="col-3 panel-header" asp-controller="MainAlcohol" asp-action="Index">Główne Alkohole</a>
            <a class="col-3 panel-header" asp-controller="Difficulty" asp-action="Index">Poziomy Trudności</a>
            <a class="col-2 panel-header" asp-controller="Ingredient" asp-action="Index">Składniki</a>
            <a class="col-2 panel-header" asp-controller="Unit" asp-action="Index">Jednostki</a>
        </div>
        <div class="col-12">
            <h1>
                waiting for angular
            </h1>
        </div>


        </div>
</div>

